<footer class="l-footer__wrap">
    <div class="l-footer__head">
        <div class="l-footer__head__wrap">
            <div class="l-footer__banner">
                <ul class="c-link__footerBanner">
                    <a href="/" target="_blank">
                        <img src="assets/images/footerBanner1.jpeg" alt="footerBanner">
                    </a>
                    <a href="/" target="_blank">
                        <img src="assets/images/footerBanner2.jpeg" alt="footerBanner">
                    </a>
                    <a href="/" target="_blank">
                        <img src="assets/images/footerBanner3.jpeg" alt="footerBanner">
                    </a>
                    <a href="/" target="_blank">
                        <img src="assets/images/footerBanner4.jpeg" alt="footerBanner">
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <div class="l-footer__body">
        <div class="l-footer__body__wrap">
            <div class="l-footer__body__left" id="shopify-section-footer">
                <div class="l-footer__newsletter">
                    <div class="l-footer__newsletter__wrap">
                        <p class="l-footer__title"><span>NEWSLETTER</span></p>
                        <p class="l-footer__newsletter__text">
                            KICHINTO
                        </p>
                        <a href="#" class="l-footer__newsletter__button"><span>会員登録はこちら</span></a>
                    </div>
                </div>
            </div>
            <div class="l-footer__body__right">
                <div class="p-info">
                    <div class="p-info__wrap">
                        <div class="p-info__head">
                            <div class="l-header__logoWrap">
                                <div class="c-text__infologo">KICHINTO</div>
                            </div>
                            <div class="l-footer__sns">
                                <ul class="c-sns">
                                    <li>
                                        <a href="#"><img src="assets/images/instagram.png" alt="instagram">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/facebook.png" alt="facebook">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/x.png" alt="X">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/youtube.png" alt="youtube">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/spotify.png" alt="spotify">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/pinterest.png" alt="pinterest">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-info__body">
                            <p class="l-footer__title__info"><span>INFORMATION</span></p>
                            <nav class="l-footer__nav">
                                <div class="p-nav__footer">
                                    <ul class="p-nav__footer">
                                        <li class="p-nav__footer__text ">
                                            <a href="#" class="c-link__text ">
                                                <span>お問い合わせ</span>
                                            </a>
                                        </li>
                                        <li class="p-nav__footer__text ">
                                            <a href="#" class="c-link__text">
                                                <span>ご利用ガイド</span>
                                            </a>
                                        </li>
                                        <li class="p-nav__footer__text ">
                                            <a href="#" class="c-link__text">
                                                <span> ギフトラッピングについて</span>
                                            </a>
                                        </li>
                                        <li class="p-nav__footer__text ">
                                            <a href="#" class="c-link__text">
                                                <span> 法人のお客様へ</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="l-footer__foot">
        <div class="l-footer__foot__wrap">
            <div class="l-footer__foot__left">
                <div class="l-footer__modalbtn">
                    <a href="#" class="l-footer__subnav__linkfirst">
                        <span>SELECT YOUR REGION SITE</span>
                    </a>
                </div>

                <nav class="l-footer__subnav">
                    <div class="l-footer__subnav__wrap">
                        <ul class="l-footer__subnav__ul">
                            <li class="l-footer__subnav__li">
                                <a href="#" class="l-footer__subnav__link">
                                    <span>プライバシーポリシー</span>
                                </a>
                            </li>
                            <li class="l-footer__subnav__li">
                                <a href="#" class="l-footer__subnav__link ">
                                    <span>特定商取引法</span>
                                </a>
                            </li>
                            <li class="l-footer__subnav__li">
                                <a href="#" class="l-footer__subnav__link ">
                                    <span>利用規約</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="l-footer__foot__right">
                <p class="c-text__copyright">© 2024 KICHINTO Co., Ltd. All rights reserved.</p>
            </div>
        </div>
    </div>
    </div>
</footer>
</div><!-- l-wrap -->
</body>

</html>