<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="<%= description %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="./assets/images/fav.png" />
    <!--facebook用-->
    <meta property="og:title" content="KICHINTO" />
    <meta property="og:description"
        content="KICHINTO公式ブランドサイト。使い心地と佇まいの調和を大切にした、日々に寄り添う生活道具を作り続けるブランドです。Official website of Japanese brand KINTO." />
    <meta property="og:url" content="https://takada1998.github.io/kichinto/public/" />
    <meta property="og:image" content="https://takada1998.github.io/kichinto/public/assets/images/top2thumbnail.jpeg" />
    <!--絶対パスで記述-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="KICHINTO" />
    <meta property="og:locale" content="ja_JP" />
    <!--LINE用-->
    <meta property="og:title" content="KICHINTO">
    <meta property="og:description"
        content="KICHINTO公式ブランドサイト。使い心地と佇まいの調和を大切にした、日々に寄り添う生活道具を作り続けるブランドです。Official website of Japanese brand KINTO.">
    <meta property="og:image" content="https://takada1998.github.io/kichinto/public/assets/images/top2thumbnail.jpeg">
    <!--twitter用-->
    <meta name="twitter:card" content="summary_large_image" /><!-- summary summary_large_image photo gallery appから選ぶ -->
    <!-- <meta name="twitter:site" content="" /> --><!--twitterがあれば記述-->
    <meta name="twitter:title" content="KICHINTO" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:description" content="<%= description %>" />
    <meta name="twitter:image" content="" /><!--絶対パスで記述-->
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <link rel="stylesheet" href="style.css">
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="main.js"></script>

    <title>
        KICHINTO
    </title>
</head>

<body>
    <div class="l-wrap">