<body>
    <div class="l-wrap">
        <!--ヘッダー-->
        <header class="l-header">
            <div class="l-header__inner">
                <div class="l-header__left">
                    <div class="l-header__logo">
                        <div class="l-header__logoWrap">
                            <div class="l-header__logoText">KINTO</div>
                        </div>
                    </div>
                    <div class="l-headerNav">
                        <div class="l-headerNav__inner">
                            <ul class="l-headerNav__menu">
                                <li class="l-headerNav__listItem">
                                    <a class="c-link__text" href="#">SHOP</a>
                                </li>
                                <li class="l-headerNav__listItem">
                                    <a class="c-link__text" href="#">JOURNAL</a>
                                </li>
                                <li class="l-headerNav__listItem">
                                    <a class="c-link__text" href="#">STYLING</a>
                                </li>
                                <li class="l-headerNav__listItem">
                                    <a class="c-link__text" href="#">NEWE</a>
                                </li>
                                <li class="l-headerNav__listItem">
                                    <a class="c-link__text" href="#">ABOUT</a>
                                </li>
                                <li class="l-headerNav__listItem">
                                    <a class="c-link__text" href="#">LOCATION</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="l-header__right">
                    <div class="l-headerNav__subnav">
                        <div class="l-headerNav__subnavInner">
                            <ul class="l-headerNav__subnavItem">
                                <li class="l-headerNav__item acount">
                                    <a href="/" class="l-headerNav__link">
                                        <img src="assets/images/acount.png" alt="acount"></a>
                                </li>

                                <li class="l-headerNav__item cart">
                                    <a href="/" class="l-headerNav__link">
                                        <img src="assets/images/cart.png" alt="cart"></a>
                                </li>

                                <li class="l-headerNav__item search">
                                    <a href="/" class="l-headerNav__link">
                                        <img src="assets/images/search.png" alt="search"></a>
                                </li>
                                <li class="l-headerNav__item language">
                                    <a href="/" class="l-headerNav__link">
                                        <img src="assets/images/language.png" alt="language"></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--メインー-->
        <main>
            <!--メイン トップイメージー-->
            <main class="l-main"><a href="/" class="l-main__image">
                    <img src="" alt="トップ画像" />
                </a></main>


            <!--フッター-->