.c-collectionItem {
    display: flex;

    @media (max-width: 600px) {
        flex-wrap: wrap;
    }

    &__bottomImage {

        img {
            width: 413px;
            height: 275px;
            margin-right: 20px;
            object-fit: cover;
        }

        p {
            color: #555555;
            font-size: 14px;
            margin: 10px 0px;
        }
    }
}