.c-collectionItem {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;


    &__bottomImage {
        grid-column: span 4;

        p {
            color: #555555;
            font-size: 14px;
            margin: 10px 0px;
        }

        a {
            display: block;
            width: 100%;
            position: relative;
            text-decoration: none;
            color: inherit;
        }
    }
}