.c-link {

    &__text {
        font-size: 13px;
        color: #555555;
    }

    &__footerBanner {
        display: flex;
        justify-content: center;


        @media (max-width: 1000px) {
            display: block;
        }

        @media (max-width: 600px) {
            display: flex;
            flex-wrap: wrap;
            //padding: 40px 0px 10px;
        }


        a {
            padding: 18.5px;
        }

        img {
            @media (max-width: 600px) {
                width: 50%;
            }
        }
    }

}