.c-link {


    &__markitItem {
        justify-content: center;
    }

    &__text {
        font-size: 13px;
        color: #555555;
        transition: color 0.3s ease, opacity 0.3s ease;
    }

}

.c-link__view-collection {
    transition: color 0.3s ease, opacity 0.3s ease;
}

.c-link__view-collection:hover {
    opacity: 0.5;
}

.c-link__text:hover {
    opacity: 0.7;
}