.c-link {

    &__viewCollection {
        display: inline-block;
        margin-top: 20px;
        font-size: 16px;
        color: #000;
        text-decoration: none;
        border: 1px solid #000;
        padding: 10px 20px;
        transition: 0.3s;
    }

    &__viewCollection:hover {
        background-color: #000;
        color: #fff;
    }

    &__markitItem {
        justify-content: center;
    }

    &__text {
        font-size: 13px;
        color: #555555;
    }

    &__footerBanner {
        display: flex;
        justify-content: center;


        @media (max-width: 1000px) {
            display: block;
        }

        @media (max-width: 600px) {
            display: flex;
            flex-wrap: wrap;
            //padding: 40px 0px 10px;
        }


        a {
            padding: 18.5px;
        }

        img {
            @media (max-width: 600px) {
                width: 50%;
            }
        }
    }

}