.c-navchild {
    width: calc(100% - 36rem - 5vw);
    position: relative;
    height: 100%;


    &__child {
        //width: calc(100% - 25rem);
        position: absolute;
        top: 0;
        left: 16rem;
        padding-left: 5rem;
        will-change: opacity, visibility;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        display: none;
    }

    &__item {
        position: relative;
    }

    &__item__all {
        margin-top: 2rem;
        display: inline-block;
        width: auto;
        color: #555555;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: .125em;
        line-height: 2;
        padding: .5em;
    }

    &__item__side {
        width: 36rem;
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 5vw;
        box-sizing: content-box;

        a {
            cursor: default;
            padding: 0;
            margin-bottom: .5em;
            pointer-events: none;
            text-align: center;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            width: calc(100% - 1px + 1rem);
            margin-left: -.5rem;
        }

        li {
            margin-top: 0;
            width: 50%;
            padding-left: .5rem;
            padding-right: .5rem;
        }

        a {
            display: block;
            position: relative;
            color: #555555;
            text-align: center;
        }

        img {
            display: block;
            background-size: cover;
            background-repeat: repeat;
            background-position: center;
        }
    }
}

.c-navchild__item:hover .c-navchild__child {
    display: block;
}