.c-navItem {

    a {
        display: block;
        font-size: 12px;
        letter-spacing: .125em;
        line-height: 60px;
        padding: 0 1em;
        position: relative;
        color: #555555;
        transition: color 0.3s ease, opacity 0.3s ease;
    }

    &__link__arrow::after {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-right: 1px solid currentColor;
        border-bottom: 1px solid currentColor;
        transform: rotate(45deg);
        margin-left: 0.5rem;
        position: relative;
        top: -2px;
    }

    &__listitem {
        display: flex;
        width: 40px;
        height: 60px;

        img {
            width: 40px;
            height: 40px;
        }

    }
}

.c-navItem a:hover {
    opacity: 0.6;
}