.c-news__item {

    &__date {
        padding: 30px 0px;
        width: 150px;
    }

    &__category {
        padding: 30px 0px;
        width: 200px;
    }

    &__title {
        padding: 30px 0px;
        width: 930px;
    }

}