.c-textBox {

    &__topwarp {
        text-align: center;

    }

    &__top li {
        text-align: center;
        display: inline;
    }

    &__top li:first-child {
        font-size: 50px;
    }

    &__botoomwarp li {
        margin: 0px 0px 9.6px;
        text-align: center;
    }
}