.c-text {
    &__infologo {
        font-size: 24px;
        font-weight: bold;
        margin: 20px 0px 20 0px;
        color: #555555;
    }

    &__copyright {
        color: #989898;
        font-size: 12px;
    }
}