.l-footer {
    &__head {
        background-color: #f7f8f8;
        padding: 80px 60px;
        justify-content: space-between;
        align-items: center;
    }

    &__body {
        padding: 8rem 0 16rem;

        &__wrap {
            justify-content: flex-start;
            align-items: stretch;
            width: 100%;
            flex-direction: row-reverse;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__sns {
        padding: 30px 0px;
    }

    &__title {
        color: #555555;
    }

    &__foot__left {
        display: flex;
    }

    &__foot__wrap {
        display: flex;
    }

    &__subnav ul {
        display: flex;

    }

    &__nav__li {
        padding: 12px 0px;
    }

    &__title {
        margin: 0px 0px 20px;
        color: #989898;


        @media(max-width: 1000px) {
            display: none;
        }
    }



    &__newsletter__text {
        margin: 0px 0px 40px;
        color: #555555;
    }

    &__newsletter__button {
        background-color: #e6e6e6;
        height: 50px;
        display: block;
        text-align: center;
        text-decoration: none;
        line-height: 50px;
    }

    &__newsletter {
        position: relative;
    }

    &__foot {
        padding: 20px 0px;

    }

    &__foot__wrap {
        margin: 0px 81px;

        @media (max-width: 1000px) {
            display: block;
        }
    }

    &__modalbtn {
        padding: 10px;
    }

    &__subnav__li {
        padding: 10px;
    }

    &__foot__right {
        margin: 0px -10px 0px auto;
        padding: 10px;

    }

    &__subnav__link {
        color: #555555;
        font-size: 13px;
    }

    &__subnav__linkfirst {
        color: #555555;
        font-size: 13px;
    }
}


.l-footer__newsletter::after {
    content: "";
    position: absolute;
    left: -60px;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 242px;
    background-color: #e6e6e6;

}

.l-footer__subnav__link span::before {
    content: "";
    display: inline-block;
    margin-right: 15px;
    border-right: 2px solid #e6e6e6;
    height: 16px;
    vertical-align: middle;

}