.l-header {
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1; //位置定義最善//
    background-color: #ffffff;

    &__inner {
        display: flex;
        //height: 60px;
    }

    &__left {
        display: flex;
        margin: 10px 0px 10px 90px;
    }

    &__text {
        font-size: 24px;
        font-weight: bold;
        margin: 20px 0px 20 0px;
        color: #555555;
    }




    &__right {
        margin: 0 0 0 auto;
        padding: 0px 84px 0px 0px;

    }
}