.l-header {
    height: 60px;

    &__inner {
        display: flex;
        height: 60px;
    }

    &__left {
        display: flex;
        margin: 10px 0px 10px 90px;
    }

    &__text {
        font-size: 24px;
        font-weight: bold;
        margin: 20px 0px 20 0px;
        color: #555555;
    }
}