.l-main {
    justify-content: space-between;
    width: 100%;

    &__top {

        img {
            object-fit: cover;
            height: 800px;
        }
    }

    //ACTIVE BOTTLE

    &__container {
        display: flex;
        height: 100%;
        //width: 82%;
        //margin-left: auto;
        margin-right: auto;
        padding-top: 6%;
        padding-bottom: 0;
        //padding: 18% 0 10%;
    }


    &__leftsection {
        width: 60%;
        height: 100%;
        overflow: hidden;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            text-align: right;
            display: block;

        }
    }

    &__rightsection {

        width: 40%;
        padding-left: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            object-fit: cover;
        }
    }














    //product
    &__products {
        height: 780px;
        display: flex;
        padding: 50px 0px 0px;
        margin: 0px 100px;
    }

    &__products__left {
        height: 673px;
    }

    &__products__rigth {
        display: flex;
        padding: 0px 0px 0px 270px;
        text-align: right;

        img {
            width: 470px;
            height: 570px;
            object-fit: cover;
            padding-right: 15px
        }
    }


    //CATEGORIES
    &__categories {
        width: 82%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    &__categories__top {
        display: flex;
    }

    &__categories__top {
        h2 {
            color: #555555;
            font-size: 14px;
            padding: 0px 0px 17px;
        }

        a {
            color: #555555;
            font-size: 11px;
            margin: 0 0 0 auto;

        }
    }



    //MARKit
    &__MARKit__warp {
        //height: 841px;
        display: flex;
        width: 100%;

        //@media (max-width: 1000px) {
        //display: block;
        //}
    }

    &__MARKit__left {

        img {
            object-fit: cover;
            flex: 1;
        }
    }

    &__MARKit__right {
        height: 100%;
    }

    &__MARKit__products {
        padding: 10% 5vw 6%;
        background-color: #f7f8f8;
    }

    &__MARKit__product__rightImg {
        //padding: 180px 90px 108px;

    }


    &__MARKit__product__item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        text-align: center;
    }

    &__MARKit__productImage {

        width: 45%;

        li {
            grid-column: span 1;
            text-align: center;
        }

        img {
            width: 100%;
            padding: 10px 10px 20px;
            object-fit: contain;
        }

        a {
            color: #555555;
            font-size: 11px;

        }
    }

    &__MARKit__productsView {
        margin: 92px 0px 0px;
        text-align: center;
    }


    //JOURNAL
    &__JOURNAL {
        //height: 557px;
        padding-bottom: 0;
        width: 82%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 6%;
    }

    &__JOURNALWprp {
        //margin: 0px 160px;
        //padding: 108px 0px 0px 0px;

    }

    &__JOURNALTop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        border-bottom: 1px solid hsla(0, 0%, 90%, 1);
        padding-bottom: 17px;
        margin-bottom: 52px;

        h2 {
            display: block;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.1em;
            line-height: 1;
            position: relative;
            color: #555555;
        }

        a {
            font-size: 11px;
            font-weight: 400;
            letter-spacing: .12em;
            line-height: 1;
            color: #555555;
        }
    }

    //movie
    &__movie {
        height: 100%;
    }

    &__movieinner {
        width: 82%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 6%;
        padding-bottom: 6%;

        img {
            aspect-ratio: 5 / 2;
            //height: 100%;
            object-fit: cover;
        }
    }

    &__newsWprp {
        width: 82%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 6%;
    }

    &__newsTop {
        display: flex;
        padding: 0px 0px 17px;
        //margin: 0 auto;


        h2 {
            color: #555555;
            font-size: 14px;
            //margin: 0px 0px 36px;
            //padding: 0px 0px 17px;
        }

        a {
            color: #555555;
            font-size: 11px;
            margin: 0 0 0 auto;

        }
    }

    &__newsinnert {
        display: flex;
        width: 1280px;
        margin: 0 auto;

        a {
            color: #555555;
            font-size: 12px;
            margin: 0 0 0 auto;

        }
    }

    &__hr1 {
        background-color: #e6e6e6;
        margin: 0px 0px 36px;
    }

    &__hr2 {
        background-color: #e6e6e6;
        margin: 20px 0px 52px;
    }

    &__hr3 {
        background-color: #e6e6e6;
        margin: 0 0 0 auto;
    }

    &__hr4 {
        background-color: #e6e6e6;
        margin: 0 0 0 auto;
    }

    &__viewmoer {
        text-decoration: underline;
        text-underline-offset: 0.7em;
        color: #555555;
    }
}