.l-main {
    justify-content: space-between;
    width: 100%;

    &__top {
        height: 100%;
        background-color: #c0e2f0;
        //width: 100%;
        //height: 1200px;

        img {
            object-fit: cover;

        }
    }

    //ACTIVE BOTTLE
    &__activebottle {
        height: 800px;
        display: flex;
        width: 100%;

        @media (max-width: 1000px) {
            display: block;
        }
    }

    &__activebottle__left {
        text-align: left;
        padding: 100px 120px 100px 0px;
        width: 100%;

        img {
            //width: 880px;
            //height: 660px;
            object-fit: cover;
        }
    }

    &__activebottle__right {
        padding: 100px 0px 100px 0px;
        width: 70%;
    }

    //product
    &__products {
        height: 780px;
        display: flex;
        padding: 50px 0px 0px;
        margin: 0px 100px;
    }

    &__products__left {
        height: 673px;
    }

    &__products__rigth {
        display: flex;
        padding: 0px 0px 0px 270px;
        text-align: right;

        img {
            width: 470px;
            height: 570px;
            object-fit: cover;
            padding-right: 15px
        }
    }


    //CATEGORIES
    &__categories {
        padding: 108px 0px;
        margin: 0px 162px;
    }

    &__categories__top {
        display: flex;
    }

    &__categories__top {
        h2 {
            color: #555555;
            font-size: 14px;
            padding: 0px 0px 17px;
        }

        a {
            color: #555555;
            font-size: 11px;
            margin: 0 0 0 auto;

        }
    }



    //MARKit
    &__MARKit__warp {
        height: 841px;
        display: flex;

        @media (max-width: 1000px) {
            display: block;
        }
    }

    &__MARKit__left {
        img {
            width: 810px;
            height: 841px;
            object-fit: cover;
        }
    }

    &__MARKit__right {
        background-color: #f7f8f8;
        padding: 146px 73px 87px;
    }

    &__MARKit__product {
        padding: 180px 90px 108px;
    }

    &__MARKit__product__item {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__MARKit__product__item {
        padding-top: 100px;

        img {
            width: 213px;
            height: 213px;
            padding: 10px 10px 20px;
            object-fit: contain;
        }

        a {
            color: #555555;
            font-size: 11px;
        }
    }

    &__MARKit__productsView {
        margin: 92px 0px 0px;
        text-align: center;
    }


    //JOURNAL
    &__JOURNAL {
        height: 557px;
    }

    &__JOURNALWprp {
        margin: 0px 160px;
        padding: 108px 0px 0px 0px;

    }

    &__JOURNALTop {
        display: flex;

        h2 {
            color: #555555;
            font-size: 14px;
            //margin: 0px 0px 36px;
            //padding: 0px 0px 17px;
        }

        a {
            color: #555555;
            font-size: 11px;
            margin: 0 0 0 auto;

        }
    }

    //movie
    &__movieinner {
        width: 100%;
        text-align: center;
        padding: 108px 0px;

        img {
            width: 1280px;
            height: 512px;
            object-fit: cover;
        }
    }





    &__newsWprp {
        width: 1280px;
        height: 229px;
        padding: 0px 0px 108px;
        margin: 0 auto;
    }

    &__newsTop {
        display: flex;
        padding: 0px 0px 17px;
        //margin: 0 auto;


        h2 {
            color: #555555;
            font-size: 14px;
            //margin: 0px 0px 36px;
            //padding: 0px 0px 17px;
        }

        a {
            color: #555555;
            font-size: 11px;
            margin: 0 0 0 auto;

        }
    }

    &__newsinnert {
        display: flex;
        width: 1280px;
        margin: 0 auto;

        a {
            color: #555555;
            font-size: 12px;
            margin: 0 0 0 auto;

        }
    }

    &__hr1 {
        background-color: #e6e6e6;
        margin: 0px 0px 36px;
    }

    &__hr2 {
        background-color: #e6e6e6;
        margin: 20px 0px 52px;
    }

    &__hr3 {
        background-color: #e6e6e6;
        margin: 0 0 0 auto;
    }

    &__hr4 {
        background-color: #e6e6e6;
        margin: 0 0 0 auto;
    }

    &__viewmoer {
        text-decoration: underline;
        text-underline-offset: 0.7em;
        color: #555555;
    }
}