.p-activebottle {
    width: 100%;

    &__rightTop {
        padding: 109px 0px 60px;

        h2 {
            color: #555555;
            font-size: 25px;
            padding: 10px 0px;
        }

        a {
            color: #555555;
            font-size: 12px;

        }
    }

    &__rightBottom {
        width: 563px;
        height: 563px;

        img {
            object-fit: cover;
        }
    }


    &__left {
        position: relative;

        img {
            animation: image-switch-animation 25s infinite;
        }
    }

    &__rigth {
        position: relative;
    }
}