.p-categories {
    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        border-bottom: 1px solid hsla(0, 0%, 90%, 1);
        padding-bottom: 17px;
        margin-bottom: 36px;

        h2 {
            color: #555555;
            font-size: 14px;
            //padding: 0px 0px 17px;

            @media only screen and (max-width: 680px) {
                margin-bottom: 2rem;
                font-size: #555555;
                font-weight: 400;
                letter-spacing: 0.08em;
                line-height: 1;
            }
        }

        a {
            color: #555555;
            font-size: 11px;
            margin: 0 0 0 auto;

        }
    }

    &__bottom ul {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1.5rem;
        //flex-wrap: wrap;
        //justify-content: center;


        li {
            grid-column: span 4;

            @media only screen and (max-width: 680px) {
                grid-column: span 12;
            }
        }

        li:nth-child(1) {
            grid-column: span 6;

            @media only screen and (max-width: 680px) {
                grid-column: span 12;
            }
        }

        li:nth-child(2) {
            grid-column: span 6;

            @media only screen and (max-width: 680px) {
                grid-column: span 12;
            }
        }
    }
}