.p-featured {
    background-color: hsla(180, 8%, 97%, 1);

    &__categories {
        a {
            cursor: default;
            padding: 0;
            margin-bottom: .5em;
            pointer-events: none;
            text-align: center;
        }
    }

    &__imeags {
        ul {
            display: flex;
            justify-content: flex-start;
            width: calc(100% - 1px + 1rem);
            margin-left: -.5rem;
        }

        li {
            margin-top: 0;
            width: 50%;
            padding-left: .5rem;
            padding-right: .5rem;
        }

        a {
            display: block;
            position: relative;
        }

        img {
            width: 100%;
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }


}