.p-products {
    &__leftTop {

        h2 {
            color: #555555;
            font-size: 14px;
            padding: 210px 0px 50px 50px;
        }

        a {
            color: #555555;
            font-size: 11px;
            padding: 30px 0px 50px 50px;

        }
    }

    &__buttonContainer {
        display: flex;
        justify-content: center;
    }
}