.p-products {

    &__slideText {
        grid-column: 1 / span 3;
    }

    &__slideImage {
        padding-left: 0px;
        //padding-right: 20%;
        grid-column: 4 / span 9;
        width: calc(100% + 9vw);
        margin-right: calc(9vw* -1);

        @media screen and (max-width: 1000px) {
            grid-column: 5/span 8;
        }

        ul {
            display: flex;
            height: 100%;
            margin: 0 !important;
        }
    }

}

.p-products__slideImage ul {
    overflow: visible;

    @media screen and (max-width: 680px) {
        overflow: visible;
        /* チラ見せのための右側余白 */
    }
}

.p-products__slideImage ul li {
    padding-left: 20px;

    /* スライド間に余白を入れる */

    @media screen and (max-width: 680px) {
        padding-left: 0;
    }

}

.p-products__slideImage ul li img {
    width: 100%;
    height: auto;
    aspect-ratio: 5 / 6;
    object-fit: cover;
}

.slick-list {
    padding-right: 120px;


}