.p-subnav {

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    li {
        width: auto;
        height: 100%;
        margin: 0 7px 0 7px;
    }

    img {
        width: 20px;
        height: 20px;
    }

    a {
        display: flex;
        width: auto;
        //height: 60px;
        overflow: hidden;
        position: relative;
        align-items: center;

    }

    h2 {
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        color: #555555;
    }
}